<p id="notice"><%= notice %></p>

<%= render partial: 'article', layout: 'box', locals:{article: @article}%>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
